<!doctype html>
<html lang="en">
    <head>
        <!--   <script src="http://localhost:8080/skewer"></script> -->
        {% assets "main_js" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </head>
    <body onload="sayHello()">
        <p> This is my home page </p>
        <button onclick="fetchHelloText()">fetch hello text</button>
        <button onclick="fetchHelloJSON()"> fetch hello json</button>
        <button onclick="postMessage()"> post a message to the python file </button>
        <button onclick="getData('conferences')">get data for conferences</button>
        <div id="data-conferences"></div>
        <button onclick="getData('paid-opportunities')">get data for paid opportunities</button>
        <div id="data-paid-opportunities"></div>
        <button onclick="getData('first-and-second')">get data for first and second years</button>
        <div id="data-first-and-second"></div>
        <button onclick="getData('gov-jobs')">get data for government jobs</button>
        <div id="data-gov-jobs"></div>
        <button onclick="getData('start-ups')">get data for start ups</button>
        <div id="data-start-ups"></div>
    </body>
</html>
